[Unit]
Description=NodeJS Service
After=etcd.service
After=docker.service
After=redis.service

[Service]
ExecStart=/usr/bin/docker run -t -i -p 3000:3000 -link redis:db -name nodeapp -d danielkennedy/nodejs
ExecStop=/usr/bin/docker stop redis

[Install]
WantedBy=local.target
