[Unit]
Description=Redis Service
After=network.target
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run -name redis -p 6379:6379 danielkennedy/redis

[Install]
WantedBy=local.target

