[Unit]
Description=Redis Service
After=etcd.service
After=docker.service

[Service]
ExecStart=/usr/bin/docker run -name redis -p 6379:6379 -d danielkennedy/redis
ExecStop=/usr/bin/docker stop redis

[Install]
WantedBy=local.target
